<% title ||= "제목" %>
<section class="slice py-4 px-5" style="background-color: rgb(9, 23, 41); border-top: solid; border-color: rgba(255,255,255,.08) !important;"> 
  <div class="row">
    <div class="col-lg-8">
      <h2 class="text-white" style="font-weight:bold;"><%= title %></h2>
    </div>
  </div>
</section>