<section>
  <div class="container my-4">
    <div class="text-center my-5">
      <h5 class="font-bold mb-3">Broken Sunset</h5>
      <h2 class="font-bold">Select your Project</h2>
    </div>
    <div class="row no-gutters d-block d-lg-flex flickity flickity-lg-none" data-flickity="{&quot;watchCSS&quot;: true}">
      <% @projects.each do |project| %>
        <%= render "project", project: project %>
      <% end %>
    </div>
  </div>
</section>